* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.parent {
    width: 80vw;
    height: 80vh;
    background-color: white;
}

.child {
    height: 10vh;
    width: 80vw;
    background-color: cornflowerblue;
}