/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#square {
    background-color: red;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    position: absolute;
    top: 120vh
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.new{
    width: 100vw;
    height: 300vh;
    position: relative;
}

.container{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    position: absolute;
    top: 120vh;
}